main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

h1{color: orangered;}

img{
  height: 10rem;
  width: auto;
  border-radius: 30px;
  box-shadow: 10px 5px 5px black;
}
nav{box-shadow: 10px 5px 5px black;
}

main p{
  color: orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}
li{list-style-type: none;
}

footer{
  border: thin solid black;
}
